{% extends 'base/base.html' %}
{% load static %}

{% block content %}
</header>
<hr class="offset-lg">
<hr class="offset-lg">
    <div class="bars">
        <div class="container">
            <div class="row">


                <h1>Dashabord</h1>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'dashboard' %}">dashboard</a>
                <a href="{% url 'register' %}">Register</a>



            </div>
        </div>
    </div>
  <hr class="offset-lg">
  <hr class="offset-md">

{% endblock %}